<h1>Top Five Artists!</h1>
	
<% @artists.each do |artist| %>
	
	<div>
		<!-- <strong><%= artist.name %></strong> -->
		<strong><%= link_to artist.name, artist_path(artist) %></strong>
		<p> <%= artist.bio %></p>
		<p><%= link_to 'Edit', edit_artist_path(artist) %>
		<p><%= link_to 'Destroy', artist_path(artist),
			    method: :delete, data:{ confirm: "Seriously?" } %></p>
	</div>

	
<<<<<<< HEAD
	<% end %>
	
=======
<% end %>
>>>>>>> 072363b3d638a5fee1d3dcd5f7151787fee02e9a
