<h1>Welcome to BruTunes!!</h1>

<h1>Top Five Artists!</h1>
	
<% @artists.each do |artist| %>
	
	<div>
		
		
		<strong><%= link_to artist.name, artist_path(artist) %></strong>
		<p> <%= artist.bio %></p>
		<p><%= link_to 'Edit', edit_artist_path(artist) %>
		<p><%= link_to 'Destroy', artist_path(artist),
			    method: :delete, data:{ confirm: "Seriously?" } %></p>
	</div>

<% end %>

<h1>Top Five Albums </h1>
<% @albums.each do |album| %>
	<div>
		<strong><%= link_to album.name, album_path(album)%></strong>
		<p><%= link_to 'Edit', edit_album_path(album)%></p>
		<p><%= link_to 'Destroy', artist_path(album),
			method: :delete, data: { confirm: "Seriously?" } %></p>
	</div>
<% end %>

