<h1>Welcome to BruTunes!!</h1>

<h1>Top Five <%= link_to 'Artists', artists_path(@artists) %>!</h1>
	
<% @artists.each do |artist| %>
	
	<div>
		
		
		<strong><%= link_to artist.name, artist_path(artist) %></strong>
		<p> <%= artist.bio %></p>
	
		
	</div>

<% end %>

<h1>Top Five <%= link_to 'Albums', albums_path(@albums) %>!</h1>
<% @albums.each do |album| %>
	<div>
		<strong><%= link_to album.name, album_path(album)%></strong>
		
	</div>
<% end %>


<h1>Top Five <%= link_to 'Songs', songs_path(@songs) %>!</h1>
<% @songs.each do |song| %>
	<div>
		<strong><%= link_to song.name, song_path(song)%></strong>
		
	</div>
<% end %>


