<p>

Name:

<strong><%= @song.name %></strong>

</p>

<p>length (in seconds): <%= @song.time %></p>




<strong > Likes: <%=@song.likes%> <%=link_to image_tag("http://us-cms.jotservers.com/uploads/help/document/joey/88_facebook_like_button_big.jpeg", size: "80x40"), like_song_path(@song) %> </strong>

<p><%= link_to 'Edit', edit_song_path(@song) %> | <%= link_to 'Destroy', song_path(@song),
			    method: :delete, data:{ confirm: "Seriously?" } %></p>

<p> <%= link_to 'Home', welcome_index_path %> | <%= link_to 'All songs', songs_path %> </p>